.MonsterPage {
    height: 100%;
    background: url('../../img/wild-bg.jpg');
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    padding: 200px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 99;

    .MonsterPage-info {
        color: #fff;
        width: 50%;
        margin: 0px 50px;
        font-size: 20px;
        background: rgba($color: #000000, $alpha: 0.6);
        padding: 15px;
        border: 1px solid #a9a9a9;

        & > p {
            margin: 15px 0px 5px;
        }
    }

    .MonsterPage-image {
        background: #fff;
        width: 300px;
        height: 350px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 50px;
        
        .image-border {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        & > img {
            width: 300px;
        }
    }
}

.MonsterPage-name {
    font-family: 'Final Fantasy', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 400;
}

@keyframes fadeInDown {
    from {
        filter: blur(2px);
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
        filter: blur(0px);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  

@media screen and (max-width: 1100px) {
    .CardPage {
        padding: 100px 0px;

        .CardPage-info {
            font-size: 16px;
        }

        .CardPage-image {
            width: 200px;
            height: 250px;
    
            & > img {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .CardPage {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 60px 0px;

        .CardPage-info {
            width: 300px;
            margin: 30px 0px;
            font-size: 12px;
        }

        .CardPage-image {
            height: 200px;
        }
    }
}
